
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
       
        <section class="w3layouts_hubits-services align-w3" id="team">
            <div class="container">
                <div class="wthree_pvt_title text-center">
                    <h4 class="w3pvt-title">
                        our team
                    </h4>
                    
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 team-grids">
                        <div class="team-effect">
                            <img src="~/Vendor/images/S.png" alt="img" class="img-fluid">
                        </div>
                        <!-- team text -->
                        <div class="team_wthree mt-3">
                            <h4>Sai Sandeep Mullapudi</h4>
                            <p>Data Specialist</p>
                           
                        </div>
                        <!-- //team text -->
                    </div>
                    <div class="col-lg-3 col-sm-6 team-grids mt-sm-0 mt-5">
                        <div class="team-effect">
                            <img src="~/Vendor/images/A.png" alt="img" class="img-fluid">
                        </div>
                        <!-- team text -->
                        <div class="team_wthree mt-3">
                            <h4>Ayush Bhatia</h4>
                            <p>Business Analyst</p>
                           
                        </div>
                        <!-- //team text -->
                    </div>
                    <div class="col-lg-3 col-sm-6 team-grids mt-lg-0 mt-5">
                        <div class="team-effect">
                            <img src="~/Vendor/images/H.png" alt="img" class="img-fluid">
                        </div>
                        <!-- team text -->
                        <div class="team_wthree mt-3">
                            <h4>Haoran Zhang</h4>
                            <p>Developer</p>
                           
                        </div>
                        <!-- //team text -->
                    </div>
                    <div class="col-lg-3 col-sm-6 team-grids mt-lg-0 mt-5">
                        <div class="team-effect">
                            <img src="~/Vendor/images/SH.png" alt="img" class="img-fluid">
                        </div>
                        <!-- team text -->
                        <div class="team_wthree mt-3">
                            <h4>Shiyuan Li</h4>
                            <p>IT Security Architect</p>
                            
                        </div>
                        <!-- //team text -->
                    </div>
                </div>
            </div>
        </section>

        <div id="accordion">
            <div class="card bg-success">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                        <p><strong>Meaning of AyeMate</strong></p><i class="fa"></i>
                        @*</button>*@
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body bg-white" style="text-align:left">
                        Our Vision:<br />
                        “Let’s together make Victoria a place where every youth can reach their full potential for physical and mental health and wellbeing”
                        <p>&nbsp;</p>


                        <p><strong>AYE MATE!</strong><span style="font-weight: 400;"> stands for&nbsp;</span></p>
                        <p><strong>M</strong><span style="font-weight: 400;"> - Monitor your wellbeing!</span></p>
                        <p><strong>A</strong><span style="font-weight: 400;"> - Ask for help!</span></p>
                        <p><strong>T</strong><span style="font-weight: 400;"> - Take a step!</span></p>
                        <p><strong>E</strong><span style="font-weight: 400;"> - Enhance your life!</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Our team - </span><strong><em>4 Civilians</em></strong><span style="font-weight: 400;"> aims at creating a positive environment raising awareness among youth in Victoria and promoting their mental wellbeing at the same time. We are here to understand the challenges being faced by the youth while accessing mental health support services and trying to bridge the gap in all possible ways we can.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We combine our expertise of knowledge and wisdom to work collectively towards a common objective and our main focus is to address Generalized Anxiety Disorders (GAD) among youth in regional Victoria and suggesting possible ways to control it.</span></p>
                    </div>
                </div>
                @*<div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p><strong>Reference List </strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                        <div class="card-body" style="text-align:left">

                        </div>
                    </div>
                </div>*@

            </div>

        </div>
    </div>
</div>
