
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                About us
            </h4>
        </div>


        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>Meaning of AyeMate</strong></p>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="text-align:left">
                        <p>&nbsp;</p>
                        <p><strong>AYE MATE!</strong><span style="font-weight: 400;"> stands for&nbsp;</span></p>
                        <p><strong>M</strong><span style="font-weight: 400;"> - Monitor your wellbeing!</span></p>
                        <p><strong>A</strong><span style="font-weight: 400;"> - Ask for help!</span></p>
                        <p><strong>T</strong><span style="font-weight: 400;"> - Take a step!</span></p>
                        <p><strong>E</strong><span style="font-weight: 400;"> - Enhance your life!</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Our team - </span><strong><em>4 Civilians</em></strong><span style="font-weight: 400;"> aims at creating a positive environment raising awareness among youth in Victoria and promoting their mental wellbeing at the same time. We are here to understand the challenges being faced by the youth while accessing mental health support services and trying to bridge the gap in all possible ways we can.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We combine our expertise of knowledge and wisdom to work collectively towards a common objective and our main focus is to address Generalized Anxiety Disorders (GAD) among youth in regional Victoria and suggesting possible ways to control it.</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p><strong>Reference List </strong><span style="font-weight: 400;"></span></p>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body" style="text-align:left">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
