
@{
    ViewBag.Title = "F1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="enterFoodText">
                <h4 class="w3pvt-title">
                    Search food nutribution
                </h4>
                <br />

                <input id="foodName" type="text" name="foodName" value="" class="form-control-lg" placeholder="Your food name" />
                <br />
                <br />
                <button id="checkFood" type="submit" value="submit" class="btn btn-success btn-lg">check food nutribution</button>
                <br />
                <br />
                <div id="result">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Vendor/js/jquery-2.2.3.min.js"></script>
<script>


    $("#checkFood").click(function (e) {
        var foodname = document.getElementById("foodName").value.replace(/ /g, "%20");
        console.log(foodname);
        $.ajax({
            type: "GET",
            url: 'https://api.edamam.com/api/food-database/v2/parser?ingr=' + foodname + '&app_id=e8b1af6b&app_key=f9fd6581e14f2244a8d3ce5ebae58fb5',
            data: $('form').serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var s = "";
                
                    s += "<div class='container'>";
                    s += "<div class='row'>";
                    s += "<div class='col - 12'>";
                    s += "Energy in kcal: " + data.parsed[0].food.nutrients.ENERC_KCAL + "<br>";
                    s += "Protein in g: " + data.parsed[0].food.nutrients.PROCNT + "<br>";
                    s += "Fat in g: " + data.parsed[0].food.nutrients.FAT + "<br>";
                    s += "Carbs in g: " + data.parsed[0].food.nutrients.CHOCDF + "<br>";
                    s += "Fiber in g: " + data.parsed[0].food.nutrients.FIBTG + "<br>";
                    s += "</div>";
                    s += "</div>";
                    s += "</div>";
                    $("#result").html(s);
                
            }
        })
    })

</script>