
@{
    ViewBag.Title = "Diet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Vendor/js/jquery-2.2.3.min.js"></script>
<script src="~/Paint/js/bootstrap.min.js"></script>

@Scripts.Render("~/Vendor/js/jquery-2.2.3.min.js")
@Scripts.Render("~/Vendor/js/responsiveslides.min.js")
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $(".slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
@Scripts.Render("~/Vendor/js/move-top.js")
@Scripts.Render("~/Vendor/js/easing.js")
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>





<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Diet
            </h4>
            <span class="sub-title">

                “We are what we eat — not only physically, but mentally and emotionally as well.”<br />
                ― Derek Rydall
            </span>
        </div>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>Diet and Mealth Health</strong></p>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">Improving mental health might initially seem like it has nothing to do with what we eat but there is a strong correlation between what we eat and how we feel!</span></p>
                        <p><span style="font-weight: 400;">Poor diet can make you feel low, lethargic and might increase the symptoms of depression and anxiety as well. On the other hand, having a nutritious diet helps you keep a healthy heart and weight that in turn reduces the risk of chronic diseases. It also helps with sleeping patterns. </span><span style="font-weight: 400;">Human brain needs an adequate amount of nutrients to stay active.</span></p>
                        <p><span style="font-weight: 400;">The type of food we eat has the ability to affect our mood. So choose your diet wisely so as to lift your mood, energy levels and concentration.</span></p>
                        <p>&nbsp;</p>
                        <p><strong>Poor nutrition has been associated with:</strong></p>
                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Externalising behaviour such as hyperactivity, aggression, disobedience</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Attention Deficit Hyperactivity Disorder (ADHD)&nbsp;</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Tiredness</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Psychological stress, anxiety and depression</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Delayed brain development</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Cognitive function impairments associated with learning and memory</span></li>
                        </ol>
                 
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>





@*<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="enterFoodText">
                <h4 class="w3pvt-title">
                    Search food nutribution
                </h4>
                <br />

                <input id="foodName" type="text" name="foodName" value="" class="form-control-lg" placeholder="Your food name" />
                <br />
                <br />
                <button id="checkFood" type="submit" value="submit" class="btn btn-success btn-lg">check food nutribution</button>
                <br />
                <br />
                <div id="result">

                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $("#checkFood").click(function (e) {
        var foodname = document.getElementById("foodName").value.replace(/ /g, "%20");
        console.log(foodname);
        $.ajax({
            type: "GET",
            url: 'https://api.edamam.com/api/food-database/v2/parser?ingr=' + foodname + '&app_id=e8b1af6b&app_key=f9fd6581e14f2244a8d3ce5ebae58fb5',
            data: $('form').serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var s = "";

                s += "<div class='container'>";
                s += "<div class='row'>";
                s += "<div class='col - 12'>";
                s += "Energy in kcal: " + data.parsed[0].food.nutrients.ENERC_KCAL + "<br>";
                s += "Protein in g: " + data.parsed[0].food.nutrients.PROCNT + "<br>";
                s += "Fat in g: " + data.parsed[0].food.nutrients.FAT + "<br>";
                s += "Carbs in g: " + data.parsed[0].food.nutrients.CHOCDF + "<br>";
                s += "Fiber in g: " + data.parsed[0].food.nutrients.FIBTG + "<br>";
                s += "</div>";
                s += "</div>";
                s += "</div>";
                $("#result").html(s);

            }
        })
    })

</script>*@