
@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
               Exercise
            </h4>
        </div>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>Benefits of exercise</strong></p>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">Have you ever wondered why going for a walk, cycling, swimming or playing a game of footy makes you feel great? This happens as &lsquo;feel good&rsquo; chemicals called endorphins are released from the brain.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">There are many proven benefits of exercise which helps to improve both your physical and mental health. Exercise helps to overcome the symptoms of depression and anxiety. Exercise acts as a &lsquo;tool in the tool belt&rsquo; for the individuals facing mental health issues as it helps to manage its symptoms, improve the physical health, sleep quality, and overall quality of life.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Exercise can also:</span></p>
                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">It helps to boost the energy</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Improvement in mood</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Build endurance</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Helps to keep your body at a healthy weight</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">builds self-confidence and feelings of accomplishment</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">help you be more sociable</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Help keep your thinking, learning, and judgment skills sharp as you age</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Helps you to sleep better</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Reduces stress</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">It can distract you from your worries and negative thoughts</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Enhances creativity and productivity</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Improves memory</span></li>
                        </ol>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>