
@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
               Exercise
            </h4>
        </div>

        <div id="accordion">
            <div class="card bg-success">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                            <p><strong>Benefits of exercise</strong></p><i class="fa"></i>
                        @*</button>*@
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white" style="text-align:left">
                        <p><span style="font-weight: 400;">Have you ever wondered why going for a walk, cycling, swimming or playing a game of footy makes you feel great? This happens as &lsquo;feel good&rsquo; chemicals called endorphins are released from the brain.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">There are many proven benefits of exercise which helps to improve both your physical and mental health. Exercise helps to overcome the symptoms of depression and anxiety. Exercise acts as a &lsquo;tool in the tool belt&rsquo; for the individuals facing mental health issues as it helps to manage its symptoms, improve the physical health, sleep quality, and overall quality of life.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Exercise can also:</span></p>
                        <div class="row space-sec">
                            <!-- blog grid -->
                            <div class="col-lg-2 col-md-6 mt-sm-0 mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">

                                        <img class="card-img-bottom" src="~/Vendor/images/21.png" style="height:100px" />
                                        <p>	It helps to boost the energy</p>


                                    </div>

                                </div>
                            </div>
                            <!-- //blog grid -->
                            <!-- blog grid -->
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/22.png" style="height:100px" />
                                        <p>Improvement in mood</p>

                                    </div>

                                </div>
                            </div>
                            <!-- //blog grid -->
                            <!-- blog grid -->
                            <div class="col-lg-2 col-md-6 mt-lg-0 mt-4 mx-auto blog-end">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0  position-relative bg-white"  style="border: none">

                                        <img class="card-img-bottom" src="~/Vendor/images/23.png" style="height:100px" />
                                        <p>	Build endurance</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/24.png" style="height:100px" />
                                        <p>	Helps to keep your body at a healthy weight</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/25.jpg" style="height:100px" />
                                        <p>builds self-confidence and feelings of accomplishment</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/26.png" style="height:100px" />
                                        <p>help you be more sociable</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/27.png" style="height:100px" />
                                        <p>Helps you to sleep better</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/28.png" style="height:100px" />
                                        <p>Reduces stress</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/29.jpg" style="height:100px" />
                                        <p>It can distract you from your worries and negative thoughts</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mt-md-0  mt-5">
                                <div class="card bg-white"  style="border: none">
                                    <div class="card-header p-0 position-relative bg-white"  style="border: none">



                                        <img class="card-img-bottom" src="~/Vendor/images/30.jpg" style="height:100px" />
                                        <p>Improves memory</p>

                                    </div>

                                </div>
                            </div>
                            <!-- //blog grid -->
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>