
@{
    ViewBag.Title = "ImproveWellbeing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Understand Wellbeing
            </h4>

        </div>

        <div id="accordion">
            <div class="card bg-success">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                            <p><strong>What is wellbeing</strong></p><i class="fa"></i>
                        @*</button>*@
                    </h5>
                </div>

                <div id="collapseOne" @*class="collapse show"*@ aria-labelledby="headingOne">
                    <div class="card-body bg-white" style="text-align:left">
                        <p><span style="font-weight: 400;">Wellbeing is a complex combination of a person's physical, mental, emotional and social health factors which is strongly linked to an individual's happiness and satisfaction.&nbsp;</span></p><p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Feelings of wellbeing are crucial which act as &lsquo;guardian&rsquo; to the overall health of an individual, enabling the individuals to successfully overcome difficulties like hopelessness, anxiety, depression and achieve what they want out of life.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Wellbeing helps us:</span></p>
                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">stay resilient when times get tough</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">build social supports and self-efficacy</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">emerge from our challenges even stronger, knowing we have the ability to cope with adversity.</span></li>
                        </ol>
                        <p><span style="font-weight: 400;">Past experiences, attitudes, physical or emotional trauma following specific incidents and outlook can negatively impact wellbeing of the individual.</span></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">*@
                            <p><strong>How to improve?</strong></p><i class="fa"></i>
                        @*</button>*@
                    </h5>
                </div>
                <div id="collapseTwo" @*class="collapse"*@ aria-labelledby="headingTwo">


                    <div class="card-body bg-white" style="text-align:left">
                        <p>Working on the below 5 building blocks (PERMA) by Professor Martin Seligman contribute to our wellbeing: </p>
                        </div>
                        <div class="card-body bg-white" style="text-align:center">




                            <div class="row pt-md-4">
                                <div class="col-lg-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white">
                                            <div class="card-body bg-primary" style="height: 210px">
                                                <h3 class="card-title">Positive Emotion</h3>
                                                <h6>Flip to see</h6>
                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover;height:210px">
                                                <h3 class="card-title"></h3>
                                                <p class="card-text" id="dietCard">Focusing on positive emotions and being able to remain optimistic and viewing things in a constructive perspective.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white">
                                            <div class="card-body bg-success" style="height: 210px">

                                                <h3 class="card-title">Engagement</h3>
                                                <h6>Flip to see</h6>

                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover;height:210px">
                                                <h3 class="card-title"></h3>
                                                <p class="card-text" id="sleepCard">Finding pleasure in losing ourselves in things we find challenging and enjoyable. </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white">
                                            <div class="card-body bg-warning" style="height: 210px">

                                                <h3 class="card-title">Relationships</h3>
                                                <h6>Flip to see</h6>

                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg);background-size:cover ;height:210px">
                                                <h3 class="card-title"></h3>
                                                <p class="card-text" id="exeriseCard">Maintaining healthy relationships and staying social connected is crucial to meaningful lives.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>







                            </div>
                            <div class="row pt-md-4">
                                <div class="col-lg-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white">
                                            <div class="card-body bg-danger" style="height: 210px">

                                                <h3 class="card-title">Meaning</h3>
                                                <h6>Flip to see</h6>

                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg);background-size:cover;height:210px">
                                                <h3 class="card-title"></h3>
                                                <p class="card-text" id="exeriseCard">Being part of and working towards something that’s much larger than yourself rather than purely pursuing material wealth. </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-flip h-100">
                                        <div class="card-front text-white">
                                            <div class="card-body bg-info" style="height: 210px">

                                                <h3 class="card-title">Accomplishment</h3>
                                                <h6>Flip to see</h6>

                                            </div>
                                        </div>
                                        <div class="card-back bg-white">
                                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg);background-size:cover;height:210px">
                                                <h3 class="card-title"></h3>
                                                <p class="card-text" id="exeriseCard" style="font-size:larger">Having goals and ambition in life can help us push ourselves to thrive and flourish.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <img src="~/Vendor/images/10.png" />

                        </div>
                    </div>

                </div>








    </div>
</div>