
@{
    ViewBag.Title = "ImproveWellbeing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Understand Wellbeing
            </h4>

        </div>

        @*<div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>What is wellbeing</strong></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">Wellbeing is a complex combination of a person's physical, mental, emotional and social health factors which is strongly linked to an individual's happiness and satisfaction.&nbsp;</span></p><p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Feelings of wellbeing are crucial which act as &lsquo;guardian&rsquo; to the overall health of an individual, enabling the individuals to successfully overcome difficulties like hopelessness, anxiety, depression and achieve what they want out of life.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Wellbeing helps us:</span></p>
                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">stay resilient when times get tough</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">build social supports and self-efficacy</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">emerge from our challenges even stronger, knowing we have the ability to cope with adversity.</span></li>
                        </ol>
                        <p><span style="font-weight: 400;">Past experiences, attitudes, physical or emotional trauma following specific incidents and outlook can negatively impact wellbeing of the individual.</span></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p><strong>How to improve?</strong></p></span></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body" style="text-align:left">




                        <p><span style="font-weight: 400;">Working on the below 5 building blocks (</span><strong>PERMA)</strong><span style="font-weight: 400;"> by Professor Martin Seligman contribute to our wellbeing:&nbsp;</span></p>
                        <ol>
                            <li style="font-weight: 400;"><strong>Positive emotion</strong><span style="font-weight: 400;">: Focusing on positive emotions and being able to remain optimistic and viewing things in a constructive perspective.</span></li>
                            <li style="font-weight: 400;"><strong>Engagement</strong><span style="font-weight: 400;">: Finding pleasure in losing ourselves in things we find challenging and enjoyable.&nbsp;</span></li>
                            <li style="font-weight: 400;"><strong>Relationships</strong><span style="font-weight: 400;">: Maintaining healthy relationships and staying social connected is crucial to meaningful lives.</span></li>
                            <li style="font-weight: 400;"><strong>Meaning</strong><span style="font-weight: 400;">: Being part of and working towards something that&rsquo;s much larger than yourself rather than purely pursuing material wealth.&nbsp;</span></li>
                            <li style="font-weight: 400;"><strong>Accomplishment</strong><span style="font-weight: 400;">: Having goals and ambition in life can help us push ourselves to thrive and flourish.</span></li>
                        </ol>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Below are some of the ways to improve wellbeing and resilience:</span></p>
                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">finding your strengths and using them</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">mindfulness and meditation</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">yoga</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">gratitude</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">lifestyle &ndash; sleep, exercise and diet.</span></li>
                        </ol>
                    </div>
                </div>
            </div>
       
        </div>*@








    </div>
</div>