@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>AyeMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="AyeMate! Responsive web template, Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <!-- Custom Theme files -->
    <link href="~/Vendor/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Vendor/css/style.css" type="text/css" rel="stylesheet" media="all">

    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <section class="banner d-flex flex-column justify-content-center align-items-center">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="~/Home/Index">
                        Aye mate
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/Stressbuster">
                                Stressbuster
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/About">
                                About
                            </a>
                        </li>




                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt text-center">
                <h3 class="home-banner-w3" style="font-size:xx-large">
                    “Mental health is not a destination, but a process”
                    <br />-Noam Shpancer
                </h3>
            </div>
        </div>
        <!-- //banner text -->
    </section>
    <!-- //banner -->
    <br />
    <div class="wthree_pvtits-services align-w3" id="services">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <span class="sub-title">

                    Let’s together take a step towards<br />
                    reaching full potential for mental wellbeing!

                </span>
            </div>
            <div class="wthree_pvtits-services-row row">
                <div class="col-lg-4 col-md-6 wthree_sgrid py-sm-5 py-4">

                    <img src="~/Vendor/images/1.png" style="width:inherit;height:200px" />
                    <h4 class="my-3" style="text-align:left; font-size:small">Approximately one in five Australians, experience mental illness at different stages of their life </h4>
                </div>
                <div class="col-lg-4 col-md-6 wthree_sgrid  py-sm-5 py-4">                  
                        
                    <img src="~/Vendor/images/2.png" style="width:inherit;height:200px" />
                    <h4 class="my-3" style="text-align:left; font-size:small">The percentage of young people with mental illness issues nearly doubles from the age group 12-17 yrs to 18-24 yrs.</h4>
                </div>
                <div class="col-lg-4 col-md-6 wthree_sgrid  py-sm-5 py-4">
                    
                    <img src="~/Vendor/images/3.png" style="width:inherit;height:200px" />
                    <h4 class="my-3" style="text-align:left; font-size:small">The onset of mental illness is typically around mid-to-late adolescence and Australian youth (18-24 years old) have the highest prevalence of mental illness than any other age group.</h4>
                </div>
                <div class="col-lg-4 col-md-6 wthree_sgrid   py-sm-5 py-4">

                    <img src="~/Vendor/images/4.png" style="width:inherit;height:200px" />
                    <h4 class="my-3" style="text-align:left; font-size:small">54% of people with mental illness do not access any treatment.</h4>
                </div>
                <div class="col-lg-4 col-md-6  wthree_sgrid  py-sm-5 py-4">

                    <img src="~/Vendor/images/5.png" style="width:inherit;height:200px" />
                    <h4 class="my-3" style="text-align:left; font-size:small">People living in metropolitan areas have 40% more mental health services than compared to people living in regional areas of Victoria.Gippsland is one of the affected regional areas of Victoria which has limited accessibility  to mental health support services and community services </h4>
                </div>
                <div class="col-lg-4 col-md-6  wthree_sgrid   py-sm-5 py-4">
                    <img src="~/Vendor/images/6.png" style="width:inherit ;height:200px"/>
                    <h4 class="my-3" style="text-align:left; font-size:small">Generalized Anxiety Disorder (GAD), the most common anxiety disorder among the youth in Gippsland</h4>
                </div>
            </div>
        </div>
    </div>




    <!-- anxiety and wellbeing -->
    <div class="wthree_pvtits-services align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner center">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Vendor/images/anxiety.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div style="text-align:left">
                                    <h4>What is anxiety?</h4>
                                    <br>
                                    <h5>
                                        Anxiety is a normal and often healthy emotion which in one way, keeps us safe from danger. <br>
                                        However, when a person regularly feels disproportionate levels of anxiety, it might become a medical disorder which will affect our daily life, and can greatly reduce the quality of life.
                                    </h5>

                                    <a href="~/Home/KnowAnxiety" class="btn btn-primary mt-4 wthree-link-bnr">view more</a>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>



                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Vendor/images/wellbeing.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div style="text-align:left">
                                    <h4>What is wellbeing</h4>
                                    <br>
                                    <h5>
                                        Wellbeing is not just about absence of illness. It is a state of being healthy, safe, comfortable and happy. A strong sense of wellbeing promotes good mental health.
                                    </h5>


                                    <a href="~/Home/ImproveWellbeing" class="btn btn-primary mt-4 wthree-link-bnr">view more</a>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        <!-- anxiety and wellbeing end -->
    </div>

    <!-- maintain good habits-->
    <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Maintain good habits
                </h4>
                <span class="sub-title">
                    “Motivation is what gets you started. Habit is what keeps you going.”
                    <br>
                    – Jim Ryun
                </span>
            </div>
            <div class="row pt-md-4">
                <div class="col-lg-4">
                    <div class="card card-flip h-100">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body" onmouseover="dietCard()" style="background: url(../../Vendor/images/diet.jpg);background-size:cover;height:300px">
                                <h3 class="card-title">Do your know?</h3>
                                <h6>Flip to see tips</h6>
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="dietCard" style="font-size:larger"></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-flip h-100">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body" onmouseover="sleepCard()" style="background: url(../../Vendor/images/sleep.jpg);background-size:cover;height:300px">
                          
                                <h3 class="card-title">Do your know?</h3>
                                <h6>Flip to see tips</h6>

                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover;height:300px">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="sleepCard" style="font-size:larger"></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card card-flip h-100">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body" onmouseover="exeriseCard()" style="background: url(../../Vendor/images/exercise.jpg);background-size:cover;height:300px">
                              
                                <h3 class="card-title">Do your know?</h3>
                                <h6>Flip to see tips</h6>

                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body" style="background: url(../../Vendor/images/tips.jpg);background-size:cover">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="exeriseCard" style="font-size:larger"></p>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row flex-row-reverse sec-space">

                <div class="col-lg-4">
                    <div class="single_grid_text">
                        <h5>
                            Exercise
                            <span class="wthree-line"></span>

                        </h5>
                        <div style="height:200px">
                            <p>
                                Exercise helps to overcome anxiety, depression, and negative mood and by improving self-esteem and cognitive function which helps to improve mental health.
                            </p>
                        </div>
                            <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Exercise">
                                View more
                            </a>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single_grid_text">
                        <h5>
                            Sleep
                            <span class="wthree-line"></span>

                        </h5>
                        <div style="height:200px">
                            <p>
                                Good quality sleep and having regular sleep patterns is beneficial to one’s well being. Sleep can improve mental health, general wellbeing, and boost productivity.
                            </p>
                        </div>
                        <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Sleep">
                            View more
                        </a>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single_grid_text">
                        <h5>
                            Diet
                            <span class="wthree-line"></span>

                        </h5>
                        <div style="height:200px">
                            <p>
                                Proper nutrition is vital for health and wellbeing. Healthy diet consisting of fresh, prebiotic and probiotic foods limiting processed foods majorly contributes to good health.

                            </p>
                        </div>
                        <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Diet">
                            View more
                        </a>
                    </div>
                </div>

            </div>
            
        </div>
    </section>
    <!-- //maintain good habit -->
    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container-fluid">
            <div class="row p-sm-4 px-3 py-5">
                <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="~/Home/Index">
                            AyeMate!
                        </a>
                    </h2>
                    <p class="my-3 text-white">
                        AYE MATE! stands for<br />
                        M - Monitor your wellbeing!<br />
                        A - Ask for help!<br />
                        T - Take a step!<br />
                        E - Enhance your life!<br />
                    </p>

                </div>
                <div class="col-lg-2  col-md-6 mt-md-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="~/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/Stressbuster">
                                    Stressbuster
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/About">
                                    About
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
        <p class="text-white">
            ©2020 AyeMate! All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- js -->
    <script src="~/Vendor/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- explore responsive slider -->
    <script src="~/Vendor/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $(".slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!-- start-smooth-scrolling -->
    <script src="~/Vendor/js/move-top.js"></script>
    <script src="~/Vendor/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    @*<script src="~/Vendor/js/SmoothScroll.min.js"></script>*@
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Vendor/js/bootstrap.js"></script>
    <script>
        var dietCount = 0;
        var sleepCount = 0;
        var exeriseCount = 0;
        function dietCard() {
            dietCount++;
            var diet = [
                'Eating slowly is also linked to more thorough chewing, which has also been linked to better weight maintenance',
                'Always try to eat fresh foods',
                'Go For Mediterranean Diet',
                'Remember to have breakfast always as it is the most important meal of the day! ',
                'Boost brainpower by treating yourself to a couple pieces of dark chocolate every few days.',
                'Work some omega-3 fatty acids into your diet',
                'Start eating fresh fruit and vegetables every day. ',
                'Increase foods that fight inflammation like berries, tomatoes, turmeric, ginger',
                'Improve your gut health by adding more prebiotic foods like oats, bananas, watermelon, chickpeas, lentils, garlic, onion, beetroot, and fennel',
                'Avoid processed foods',
                'Increase amount of fibre in diet through natural foods',
                'Add fish to your diet a great souce of protien, vitamins and minerals',
                'Reduce the amount of saturated fat and sugar as much as possible',
                'Water is best way  to quench your thirst. Avoid the sugary drinks',
                'Limit the amount of salt in your diet',
                'Aim to include a mix of staple foods such as wheat, maize, rice and potatoes with legumes like lentils and beans into your diet',
                'Try steaming or boiling food while cooking instead of frying it',
                'Void all processed, fast and fried foods that contain industrially-produced trans fat',
                'Remove All Visible Fat From Food Before You Cook It',
                'Add more probiotic foods each day like yoghurt, kefir, sauerkraut, kombucha and kimchi',
                'Remeber to have wholegrains as much as possible as it is rich in fibre which contains an amino acid that makes your body produce ‘serotonin’ which helps calm the mind, improve your mood, and keep your sleep cycle on track'
            ];
            document.getElementById('dietCard').innerHTML = diet[dietCount % diet.length];
        }

        function sleepCard() {
            sleepCount++;
            var sleep = [
                'Increase bright light exposure during the day',
                'Reduce blue light exposure in the evening',
                'Don’t consume caffeine late in the day',
                'Reduce irregular or long daytime naps',
                'Take a melatonin supplement',
                'Consider these other supplements',
                'Don’t drink alcohol',
                'Optimize your bedroom environment',
                'Set your bedroom temperature',
                'Don’t eat late in the evening',
                'Relax and clear your mind in the evening',
                'Take a relaxing bath or shower',
                'Rule out a sleep disorder',
                'Get a comfortable bed, mattress, and pillow',
                'Exercise regularly — but not before bed',
                'Don’t drink any liquids before bed',
                'keeping regular times for going to bed and getting up',
                'Have a calming bedtime routine. Try taking  warm bath, drink warm milk or herbal teas before sleep',
                'meditating last thing at night or writing in a gratitude journal',
                'Reduce the amount of blue light exposure during the evening',
                'Don’t lie awake watching the clock. If you are tossing and turning, try getting up and reading a book for half an hour or so before trying to go to sleep again.',
                'Try listening to soothing music just before sleeping',
                'Try some gentle yoga poses before bedtime',
                'Dont go to bed hungry or stuffed.In particular, avoid heavy or large meals within a couple of hours of bedtime.',
                'If you choose to nap, limit yourself to up to 30 minutes and avoid doing so late in the day.'
            ];
            document.getElementById('sleepCard').innerHTML = sleep[sleepCount % sleep.length];
        }

        function exeriseCard() {
            exeriseCount++;
            var exerise = [
                'Exercise for 30 minutes every day',
                'Something as simple as a daily brisk walk can help you live a healthier life',
                'Do yoga for your health',
                'Build endurance, muscle strength and cardiovascular fitness through swimming ',
                'Always remember to track your progress',
                'Go for jogging, cycling regularly ',
                'Vary your workouts to beat the boredom',
                'Spice up your exercise regimen by doing dance workouts',
                'It is important to stay hydrated at all times',
                'Teamwork makes the dreams work. Recruit a training buddy and spice things up with a team task workout to burn the calories and maximise the fun!',
                'Wear comfortable clothing while doing exercise',
                'Take five to 10 minutes to warm up and cool down properly.',
                'Choose clothes and shoes designed for your type of exercise',
                'Make time to be physically active and schedule it as you would an appointment',
                'Remember to have fun always as physical activity makes you feel good about yourself',
                'Remember to make a Plan and set realistic Goals',
                'Be sure to consume a balanced diet to support your fitness program.',
                'It’s important to warm up before your workout. Doing so can help prevent injuries and improve your athletic performance',
                'Cooling down after excercise is important because it helps your body return to its normal state.',
                'it’s important to start slowly and increase the intensity as you build your fitness level up.',
                'Don’t workout with full stomach',
                'Remember to set goals and monitor your progress always',
                'Make it part of your routine'
            ];
            document.getElementById('exeriseCard').innerHTML = exerise[exeriseCount % exerise.length];
        }


    </script>





</body>

</html>