@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>AyeMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="AyeMate! Responsive web template, Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <!-- Custom Theme files -->
    <link href="~/Vendor/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Vendor/css/style.css" type="text/css" rel="stylesheet" media="all">

    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <section class="banner d-flex flex-column justify-content-center align-items-center">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="~/Home/Index">
                        Aye mate
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/Stressbuster">
                                Stressbuster
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/About">
                                About
                            </a>
                        </li>




                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt text-center">
                <h3 class="home-banner-w3" style="font-size:x-large">“Let’s together make Victoria a place where every youth can reach their full potential for physical and mental health and wellbeing”</h3>
            </div>
        </div>
        <!-- //banner text -->
    </section>
    <!-- //banner -->


    <div class="wthree_pvtits-services align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Main
                </h4>
                <div style="text-align:left">
                    <p><span style="font-weight: 400;">Mental health is integral to living a healthy and balanced life that has the ability to affect a person's thoughts, behaviours and emotions.&nbsp;</span></p>
                   <br /> <p><span style="font-weight: 400;">Approximately one in five Australians, experience mental illness at different stages of their life. Over 75% of mental health issues occur before the age of 25yrs. 14% adolescents aged 12&ndash;17 yrs have a mental health problem that alarmingly rises to 27% among youth aged 18&ndash;24 yrs which left untreated, can have long-term effects that can continue into adulthood.&nbsp;</span></p>
                          <br /> <p><span style="font-weight: 400;">People living in metropolitan areas have 40% more mental health services than compared to people living in regional areas of Victoria and the fact that nearly 29% of the population are living in regional areas is quite concerning. Gippsland is one of the affected regional areas of Victoria where around 14.3% of adults have high psychological disorders and limited access to mental health support services is making it worse. Generalized Anxiety Disorder (GAD) is found to be the most common anxiety disorder among the youth in Gippsland.&nbsp;</span></p>
                                 <br /><p><span style="font-weight: 400;">Learn more about what anxiety is and how can one improve wellbeing below.</span></p>
                </div>
            </div>
            </div>
        </div>






                <!-- anxiety and wellbeing -->
    <div class="wthree_pvtits-services align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Data in Gippsland
                </h4>
                <span class="sub-title">Data visualization will be here</span>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner center">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Vendor/images/anxiety.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div style="text-align:left">
                                    <h4>What is anxiety?</h4>
                                    <br>
                                    <h5>
                                        Anxiety is a normal and often healthy emotion which in one way, keeps us safe from danger. <br>
                                        However, when a person regularly feels disproportionate levels of anxiety, it might become a medical disorder which will affect our daily life, and can greatly reduce the quality of life.
                                    </h5>

                                    <a href="~/Home/KnowAnxiety" class="btn btn-primary mt-4 wthree-link-bnr">view more</a>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>



                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Vendor/images/wellbeing.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div style="text-align:left">
                                    <h4>What is wellbeing</h4>
                                    <br>
                                    <h5>
                                        Wellbeing is not just about absence of illness. It is a state of being healthy, safe, comfortable and happy. A strong sense of wellbeing promotes good mental health.
                                    </h5>


                                    <a href="~/Home/ImproveWellbeing" class="btn btn-primary mt-4 wthree-link-bnr">view more</a>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        <!-- anxiety and wellbeing end -->
    </div>

                <!-- maintain good habits-->
                <section class="single_grid_w3_main align-w3">
                    <div class="container">
                        <div class="wthree_pvt_title text-center">
                            <h4 class="w3pvt-title">
                                Maintain good habits
                            </h4>
                            <span class="sub-title">
                                “Motivation is what gets you started. Habit is what keeps you going.”
                                <br>
                                – Jim Ryun
                            </span>
                        </div>
                        <div class="row pt-md-4">
                            <div class="col-lg-6">
                                <div class="card card-flip h-100">
                                    <div class="card-front text-white bg-dark">
                                        <div class="card-body" onmouseover="dietCard()" style="background: url(../../Vendor/images/diet.jpg);background-size:cover">
                                            <h3 class="card-title">Do your know?</h3>
                                            <h6>Flip to see tips</h6>

                                        </div>
                                    </div>
                                    <div class="card-back bg-white">
                                        <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover">
                                            <h3 class="card-title">Tips</h3>
                                            <p class="card-text" id="dietCard" style="font-size:larger"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single_grid_text">
                                    <h5>
                                        Diet
                                        <span class="wthree-line"></span>

                                    </h5>
                                    <p>
                                        Proper nutrition is vital for health and wellbeing. Healthy diet consisting of fresh, prebiotic and probiotic foods limiting processed foods majorly contributes to good health.

                                    </p>
                                    <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Diet">
                                        View more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-row-reverse sec-space">
                            <div class="col-lg-6">
                                <div class="card card-flip h-100">
                                    <div class="card-front text-white bg-dark">
                                        <div class="card-body" onmouseover="sleepCard()" style="background: url(../../Vendor/images/sleep.jpg);background-size:cover">
                                            <i class="fa fa-search fa-5x float-right"></i>
                                            <h3 class="card-title">Do your know?</h3>
                                            <h6>Flip to see tips</h6>

                                        </div>
                                    </div>
                                    <div class="card-back bg-white">
                                        <div class="card-body" style="background: url(../../Vendor/images/tips.jpg); background-size: cover">
                                            <h3 class="card-title">Tips</h3>
                                            <p class="card-text" id="sleepCard" style="font-size:larger"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single_grid_text">
                                    <h5>
                                        Sleep
                                        <span class="wthree-line"></span>

                                    </h5>
                                    <p>
                                        Good quality sleep and having regular sleep patterns is beneficial to one’s well being. Sleep can improve mental health, general wellbeing, and boost productivity.
                                    </p>
                                    <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Sleep">
                                        View more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-flip h-100">
                                    <div class="card-front text-white bg-dark">
                                        <div class="card-body" onmouseover="exeriseCard()" style="background: url(../../Vendor/images/exercise.jpg);background-size:cover">
                                            <i class="fa fa-search fa-5x float-right"></i>
                                            <h3 class="card-title">Do your know?</h3>
                                            <h6>Flip to see tips</h6>

                                        </div>
                                    </div>
                                    <div class="card-back bg-white">
                                        <div class="card-body" style="background: url(../../Vendor/images/tips.jpg);background-size:cover">
                                            <h3 class="card-title">Tips</h3>
                                            <p class="card-text" id="exeriseCard" style="font-size:larger"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single_grid_text">
                                    <h5>
                                        Exercise
                                        <span class="wthree-line"></span>

                                    </h5>
                                    <p>
                                        Exercise helps to overcome anxiety, depression, and negative mood and by improving self-esteem and cognitive function which helps to improve mental health . Exercise has also been found to alleviate symptoms such as low self-esteem and social withdrawal.
                                    </p>
                                    <a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Exercise">
                                        View more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //maintain good habit -->
                <!-- footer -->
                <footer class="footer py-md-5 pt-md-3 pb-sm-5">
                    <div class="container-fluid">
                        <div class="row p-sm-4 px-3 py-5">
                            <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                                <h2>
                                    <a class="navbar-brand" href="~/Home/Index">
                                        AyeMate!
                                    </a>
                                </h2>
                                <p class="my-3 text-white">
                                    AYE MATE! stands for<br />
                                    M - Monitor your wellbeing!<br />
                                    A - Ask for help!<br />
                                    T - Take a step!<br />
                                    E - Enhance your life!<br />
                                </p>

                            </div>
                            <div class="col-lg-2  col-md-6 mt-md-0 mt-5">
                                <div class="footerv2-w3ls">
                                    <h3 class="mb-3 w3f_title">Navigation</h3>
                                    <hr>
                                    <ul class="list-w3pvtits">
                                        <li>
                                            <a href="~/Home/Index">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Home/Stressbuster">
                                                Stressbuster
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Home/About">
                                                About
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- //footer bottom -->
                </footer>
                <!-- //footer -->
                <!-- copyright -->
                <div class="cpy-right text-center bg-theme">
                    <p class="text-white">
                        ©2020 AyeMate! All rights reserved | Design by
                        <a href="http://w3layouts.com"> W3layouts.</a>
                    </p>
                </div>
                <!-- //copyright -->
                <!-- js -->
                <script src="~/Vendor/js/jquery-2.2.3.min.js"></script>
                <!-- //js -->
                <!-- explore responsive slider -->
                <script src="~/Vendor/js/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                        // Slideshow 4
                        $(".slider3").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                                $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                                $('.events').append("<li>after event fired.</li>");
                            }
                        });

                    });
                </script>

                <!-- start-smooth-scrolling -->
                <script src="~/Vendor/js/move-top.js"></script>
                <script src="~/Vendor/js/easing.js"></script>
                <script>
                    jQuery(document).ready(function ($) {
                        $(".scroll").click(function (event) {
                            event.preventDefault();

                            $('html,body').animate({
                                scrollTop: $(this.hash).offset().top
                            }, 1000);
                        });
                    });
                </script>
                <!-- //end-smooth-scrolling -->
                <!-- smooth-scrolling-of-move-up -->
                <script>
                    $(document).ready(function () {
                        /*
                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                        };
                        */
                        $().UItoTop({
                            easingType: 'easeOutQuart'
                        });

                    });
                </script>
                @*<script src="~/Vendor/js/SmoothScroll.min.js"></script>*@
                <!-- //smooth-scrolling-of-move-up -->
                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="~/Vendor/js/bootstrap.js"></script>
                <script>
                    var dietCount = 0;
                    var sleepCount = 0;
                    var exeriseCount = 0;
                    function dietCard() {
                        dietCount++;
                        var diet = [
                            'Eating slowly is also linked to more thorough chewing, which has also been linked to better weight maintenance',
                            'Eat Fresh Foods',
                            'Go For Mediterranean Diet',
                            'Get Your Vitamins Fix',
                            'Supplements Might Work',
                            'Take Care Of Nutritional Needs Of New-Borns',
                            'Take In Specific Nutrients',
                            'Start your day with a cup of co­ffee',
                            'Boost brainpower by treating yourself to a couple pieces of dark chocolate every few days',
                            'Work some omega-3 fatty acids into your diet'
                        ];
                        document.getElementById('dietCard').innerHTML = diet[dietCount % diet.length];
                    }

                    function sleepCard() {
                        sleepCount++;
                        var sleep = [
                            'Increase bright light exposure during the day',
                            'Reduce blue light exposure in the evening',
                            'Don’t consume caffeine late in the day',
                            'Reduce irregular or long daytime naps',
                            'Take a melatonin supplement',
                            'Consider these other supplements',
                            'Don’t drink alcohol',
                            'Optimize your bedroom environment',
                            'Set your bedroom temperature',
                            'Don’t eat late in the evening',
                            'Relax and clear your mind in the evening',
                            'Take a relaxing bath or shower',
                            'Rule out a sleep disorder',
                            'Get a comfortable bed, mattress, and pillow',
                            'Exercise regularly — but not before bed',
                            'Don’t drink any liquids before bed'
                        ];
                        document.getElementById('sleepCard').innerHTML = sleep[sleepCount % sleep.length];
                    }

                    function exeriseCard() {
                        exeriseCount++;
                        var exerise = [
                            'Exercise for 30 minutes every day',
                            'Make over your running routine',
                            'Always warm up and cool down',
                            'Take this jump-rope challenge',
                            'Get a jump on weight loss',
                            'Dont cruise through cardio',
                            'Tone up on the treadmill'
                        ];
                        document.getElementById('exeriseCard').innerHTML = exerise[exeriseCount % exerise.length];
                    }


                </script>





</body>

</html>