@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>AyeMate!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="AyeMate! Responsive web template, Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Vendor/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Vendor/css/style.css" type="text/css" rel="stylesheet" media="all">
 
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <section class="banner d-flex flex-column justify-content-center align-items-center">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="~/Home/Index">
                        Aye mate!
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/ReduceStress">
                                Reduce Stress
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/FindPublicService">
                                Find Public Service
                            </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="~/Home/About">
                                About
                            </a>
                        </li>


                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt text-center">
                <h3 class="home-banner-w3">Stay Healthy <br /> Stay Happy</h3>
            </div>
        </div>
        <!-- //banner text -->
    </section>
    <!-- //banner -->

    <!-- data visualization -->
    <div class="wthree_pvtits-services align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Data in Gippsland
                </h4>
                <span class="sub-title">Data visualization will be here</span>
                <div class="slider-container col-lg-12 mx-auto">
                    <div class="w3ls-about-banner">
                        <div class="callbacks_container">
                            <ul class="rslides callbacks callbacks1 slider3">
                                <li>
                                    <div class="slide-img slide-img1">
                                        <div class="banner-info">
                                            
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="slide-img slide-img2">
                                        <div class="banner-info">
                                            
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="slide-img slide-img3">
                                        <div class="banner-info">
                                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- data visualization end -->

    <!-- maintain good habits-->
    <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Maintain good habits
                </h4>
                <span class="sub-title">this is a demo text you may write a brief text here to explain the title</span>
            </div>
            <div class="row pt-md-4">
                <div class="col-lg-6">                   
                    <div class="card card-flip h-100">                        
                        <div class="card-front text-white bg-dark">                           
                            <div class="card-body" onmouseover="dietCard()" style="background: url(../../Vendor/images/diet.jpg);background-size:cover">
                                <h3 class="card-title">Do your know?</h3>

                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body"  style="background-color:white">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="dietCard"></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <h5>
                            Diet
                            <span class="wthree-line"></span>
                            custom text
                        </h5>
                        <p>
                            Subheadings stand out because they are like mini titles. They make your post stand out and
                            make it more readable.
                        </p>
                        @*<a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Diet">
                            Find healthy receipe 
                        </a>*@
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse sec-space">
                <div class="col-lg-6">
                    <div class="card card-flip h-100">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body" onmouseover="sleepCard()" style="background: url(../../Vendor/images/sleep.jpg);background-size:cover">
                                <i class="fa fa-search fa-5x float-right"></i>
                                <h3 class="card-title">Do your know?</h3>
  
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body" style="background-color:white">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="sleepCard"></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <h5>
                            Sleep
                            <span class="wthree-line"></span>
                            custom text
                        </h5>
                        <p>
                            Subheadings stand out because they are like mini titles. They make your post stand out and
                            make it more readable.
                        </p>
                        @*<a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Sleep">
                            Find healthy sleep
                        </a>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-flip h-100">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body" onmouseover="exeriseCard()" style="background: url(../../Vendor/images/exercise.jpg);background-size:cover">
                                <i class="fa fa-search fa-5x float-right"></i>
                                <h3 class="card-title">Do your know?</h3>
                                
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body" style="background-color:white">
                                <h3 class="card-title">Tips</h3>
                                <p class="card-text" id="exeriseCard"></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <h5>
                            Exercise
                            <span class="wthree-line"></span>
                            custom text
                        </h5>
                        <p>
                            Subheadings stand out because they are like mini titles. They make your post stand out and
                            make it more readable.
                        </p>
                        @*<a class="btn bg-theme mt-4 wthree-link-bnr" href="~/Home/Exercise">
                            Find healthy exerise
                        </a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //maintain good habit -->
    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container-fluid">
            <div class="row p-sm-4 px-3 py-5">
                <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            AyeMate!
                        </a>
                    </h2>
                    <p class="my-3 text-white">
                        Donec consequat sam libero tempore, cum soluta nobis est eligendi optio
                        cumque
                        nihil impedit quo minus
                    </p>
                    <p class="text-white">
                        Id quod possimusapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper
                        varius
                        orci.
                    </p>
                </div>
                <div class="col-lg-2  col-md-6 mt-md-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="~/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/ReduceStress">
                                    Reduce Stress
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/FindPublicService">
                                    Find Public Service
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/About">
                                    About
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
        <p class="text-white">
            ©2020 AyeMate! All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- js -->
    <script src="~/Vendor/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- explore responsive slider -->
    <script src="~/Vendor/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $(".slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!-- start-smooth-scrolling -->
    <script src="~/Vendor/js/move-top.js"></script>
    <script src="~/Vendor/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    @*<script src="~/Vendor/js/SmoothScroll.min.js"></script>*@
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Vendor/js/bootstrap.js"></script>
    <script>
        var dietCount = 0;
        var sleepCount = 0;
        var exeriseCount = 0;
        function dietCard() {
            dietCount++;
            var diet = [
                'Eating slowly is also linked to more thorough chewing, which has also been linked to better weight maintenance',
                'Eat Fresh Foods',
                'Go For Mediterranean Diet',
                'Get Your Vitamins Fix',
                'Supplements Might Work',
                'Take Care Of Nutritional Needs Of New-Borns',
                'Take In Specific Nutrients',
                'Start your day with a cup of co­ffee',
                'Boost brainpower by treating yourself to a couple pieces of dark chocolate every few days',
                'Work some omega-3 fatty acids into your diet'
            ];
            document.getElementById('dietCard').innerHTML = diet[dietCount % diet.length];
        }

        function sleepCard() {
            sleepCount++;
            var sleep = [
                'Increase bright light exposure during the day',
                'Reduce blue light exposure in the evening',
                'Don’t consume caffeine late in the day',
                'Reduce irregular or long daytime naps',
                'Take a melatonin supplement',
                'Consider these other supplements',
                'Don’t drink alcohol',
                'Optimize your bedroom environment',
                'Set your bedroom temperature',
                'Don’t eat late in the evening',
                'Relax and clear your mind in the evening',
                'Take a relaxing bath or shower',
                'Rule out a sleep disorder',
                'Get a comfortable bed, mattress, and pillow',
                'Exercise regularly — but not before bed',
                'Don’t drink any liquids before bed'
            ];
            document.getElementById('sleepCard').innerHTML = sleep[sleepCount % sleep.length];
        }

        function exeriseCard() {
            exeriseCount++;
            var exerise = [
                'Exercise for 30 minutes every day',
                'Make over your running routine',
                'Always warm up and cool down',
                'Take this jump-rope challenge',
                'Get a jump on weight loss',
                'Dont cruise through cardio',
                'Tone up on the treadmill'
            ];
            document.getElementById('exeriseCard').innerHTML = exerise[exeriseCount % exerise.length];
        }
    </script>
</body>

</html>