
@{
    ViewBag.Title = "KnowAnxiety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="testimonials align-w3" id="testi">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">
                    Understand Anxiety
                </h4>
            </div>
            <div id="accordion">
                <div class="card bg-success">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                                <p><strong>What is anxiety?</strong></p><i class="fa"></i>
                            @*</button>*@
                        </h5>
                    </div>

                    <div id="collapseOne" @*class="collapse show"*@ aria-labelledby="headingOne">
                        <div class="card-body bg-white" style="text-align:left">
                            <p><span style="font-weight: 400;">Anxiety is a common phenomenon where people react to something they fear, worry or stress about.</span></p>
                            <p>&nbsp;</p>
                            <p><span style="font-weight: 400;">Low levels of anxiety can be helpful at times, increasing alertness and enhancing performance, as in exams or job interviews. But, it can sometimes be so overwhelming causing significant changes in everyday lives, making it hard to cope with &lsquo;normal&rsquo; challenges. This is exactly where anxiety turns into an illness called an anxiety disorder.&nbsp;</span></p>
                            <p>&nbsp;</p>
                            <p><span style="font-weight: 400;">Anxiety is a prevalent mental health issue in Australia. Studies show that nearly one-third of women and one-fifth of men experience anxiety at some point in their lives. It is also common among youth in Australia where every year 1 in 10 young people aged between 18-25 experience an anxiety disorder.</span></p>
                            <p>&nbsp;</p>
                            <p><span style="font-weight: 400;">Individuals may develop severe anxiety over time and it can often go unnoticed. A person's ability to achieve their full potential can be seriously reduced if he/she does not receive treatment for an anxiety disorder.</span></p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">*@
                                <p><strong>Symptoms of anxiety disorder </strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                            @*</button>*@
                        </h5>
                    </div>
                    <div id="collapseTwo" @*class="collapse"*@ aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body bg-white" style="text-align:left">


                            <img src="~/Vendor/images/7.png" style="height:500px;width:1000px;"/>
                        </div>
                    </div>
                </div>
                <div class="card bg-success">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">*@
                            <p><strong>Types of anxiety disorders</strong></p><span style="font-weight: 400;"></span><i class="fa"></i>
                            @*</button>*@
                        </h5>
                    </div>
                    <div id="collapseThree" @*class="collapse"*@ aria-labelledby="headingThree">
                        <div class="card-body bg-white" style="text-align:left">

                            <img src="~/Vendor/images/8.png" style="height:400px;width:1000px;" />
                        </div>
                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">*@
                                <p><strong>Causes of Anxiety Disorder</strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                            @*</button>*@
                        </h5>
                    </div>
                    <div id="collapseFour" @*class="collapse"*@ aria-labelledby="headingFour">
                        <div class="card-body bg-white" style="text-align:left">
                   

                            <img src="~/Vendor/images/100.png" style="height:400px;width:1000px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>