
@{
    ViewBag.Title = "KnowAnxiety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="testimonials align-w3" id="testi">
    <div class="container">
        @*<div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Understand Anxiety
            </h4>
        </div>*@



        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Signs of anxiety and stress in Children</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">types of anxiety</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="causes-tab" data-toggle="tab" href="#causes" role="tab" aria-controls="causes" aria-selected="false">Causes of anxiety disorder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">How can you help</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card bg-success">
                    <!--<div class="card-header" id="headingOne">
                        <h5 class="mb-0">-->
                            @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                            <!--<p><strong>What is anxiety?</strong></p><i class="fa"></i>-->
                            @*</button>*@
                        <!--</h5>
                    </div>-->

                    <div id="collapseOne" @*class="collapse show"*@ aria-labelledby="headingOne">
                        <div class="card-body bg-white" style="text-align:left">
                            <p>Anxiety is a common phenomenon where people react to something they fear, worry or stress about. However, children react more quickly or intensely to situations they find threatening, or find it harder to get their anxious feelings under control.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;A child's mental health is influenced by many things; family circumstances, friendship groups and school and life experience. While children of any age can experience mental health challenges, they are most at risk between 12 and 16 years.</p>
                            <p>&nbsp;</p>
                            <p>Mental health problems at young ages can develop into a disorder and can have a substantial impact on wellbeing. Helping build resilience and positive self-esteem, good mental health will enable your child to build respectful relationships as they grow up.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card bg-primary">
                    <!--<div class="card-header" id="headingTwo">
                        <h5 class="mb-0">-->
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">*@
                            <!--<p><strong>Symptoms of anxiety disorder </strong><span style="font-weight: 400;"></span></p><i class="fa"></i>-->
                            @*</button>*@
                        <!--</h5>
                    </div>-->
                    <div id="collapseTwo" @*class="collapse"*@ aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body bg-white" style="text-align:left">


                            <p>Learning how to help your children with anxiety starts with recognising the symptoms. The symptoms can look different for each type of anxiety disorder. However, the following are some common signs of anxiety in children:</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li>Worrying about or are fearful of everyday situations</li>
                                <li>Being confused and unable to concentrate.</li>
                                <li>Avoiding new and difficult situations.</li>
                                <li>Being socially isolated or extremely shy.</li>
                                <li>Staying always on edge or nervous.</li>
                                <li>Constantly tired and unable to sleep.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Physical symptoms that may accompany anxiety include:</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li>Rapid heartbeat and sweating</li>
                                <li>Shallow breathing and shortness of breath</li>
                                <li>Restlessness and shaking</li>
                                <li>Dry mouth, stomach pains, nausea, digestion issues</li>
                                <li></li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>If these experiences are interfering with their daily functioning, responsibilities and quality of life, your child may have an anxiety disorder.&nbsp; Find more about different types of anxiety disorders in the next block.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card bg-success">
                    <!--<div class="card-header" id="headingThree">
                        <h5 class="mb-0">-->
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">*@
                            <!--<p><strong>Types of anxiety disorders</strong></p><span style="font-weight: 400;"></span><i class="fa"></i>-->
                            @*</button>*@
                        <!--</h5>
                    </div>-->
                    <div id="collapseThree" @*class="collapse"*@ aria-labelledby="headingThree">
                        <div class="card-body bg-white" style="text-align:left">

                            <p><strong>The six most common anxiety disorders that can affect your child are: </strong></p>
                            <p><strong>&nbsp;</strong></p>
                            <ol>
                                <li><strong>Generalised anxiety disorder</strong>: A severe ongoing anxiety which could be about a number of things, such as work, money, relationships.</li>
                                <li><strong>Social phobia</strong>: A marked and persistent fear of being embarrassed in social situations</li>
                                <li><strong>Specific phobia</strong>: An intense and irrational fear of a specific situation or object</li>
                                <li><strong>Panic disorders</strong>: The presence of repeated, unexpected panic attacks and worry about having another panic attack.</li>
                                <li><strong>Obsessive compulsive disorder</strong>: Experiencing repeated obsessions (unwanted thoughts and impulses) and/or compulsions (urge to act a certain way or complete a task) that creates distress or impairment.</li>
                                <li><strong>Post traumatic stress disorder</strong>: Experiencing certain symptoms following a traumatic event</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="causes" role="tabpanel" aria-labelledby="causes-tab">
                <div class="card bg-primary">
                    <!--<div class="card-header" id="headingFour">
                        <h5 class="mb-0">-->
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">*@
                            <!--<p><strong>Causes of Anxiety Disorder</strong><span style="font-weight: 400;"></span></p><i class="fa"></i>-->
                            @*</button>*@
                        <!--</h5>
                    </div>-->
                    <div id="collapseFour" @*class="collapse"*@ aria-labelledby="headingFour">
                        <div class="card-body bg-white" style="text-align:left">


                            <img src="~/Vendor/images/100.png" style="height:400px;width:1000px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
                <div class="card bg-primary">
                    <!--<div class="card-header" id="headingFour">
                        <h5 class="mb-0">-->
                            @*<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">*@
                            <!--<p><strong>Causes of Anxiety Disorder</strong><span style="font-weight: 400;"></span></p><i class="fa"></i>-->
                            @*</button>*@
                        <!--</h5>
                    </div>-->
                    <div id="collapseFour" @*class="collapse"*@ aria-labelledby="headingFour">
                        <div class="card-body bg-white" style="text-align:left">
                            <p>Anxiety in children and teenagers is very common and there are treatments available to help them overcome it.</p>
                            <p>As a parent, there&rsquo;s many things you can do to support your child through it and improve their wellbeing:</p>
                            <p>&nbsp;</p>
                            <p><strong>Ask your child how they are feeling and thinking</strong>. Encourage children to talk about their thoughts and feelings. Sometimes children can better express their feelings through play than through words, so make time to play with them.</p>
                            <p>&nbsp;</p>
                            <p><strong>Talk to your child about your feelings</strong>. Express your feelings honestly, but do your best to avoid alarming or upsetting your child further.</p>
                            <p>&nbsp;</p>
                            <p><strong>Monitor media exposure</strong>. Limit the amount of time your child listens to media reports. If children are viewing media stories of distressing events, it is best to watch with them.</p>
                            <p>&nbsp;</p>
                            <p><strong>Reassure children</strong>. Children need comfort, reassurance and support, and to know that they are safe and are being looked after.</p>
                            <p>&nbsp;</p>
                            <p><strong>Allow your child to retain as much of their daily routines as possible during stressful times</strong>. Maintaining familiar schedules can help reduce anxiety in children and re-establish a feeling of normalcy.</p>
                            <p>&nbsp;</p>
                            <p><strong>Maintain a healthy lifestyle</strong>. Good nutrition, good sleep and regular exercise are essential to mental health and wellbeing.</p>
                            <p>&nbsp;</p>
                            <p>To find more about what wellbeing is and how to facilitate it for you child <strong><u>click here</u></strong></p>
                            <p><strong><u>&nbsp;</u></strong></p>
                            <p>Mental health difficulties can seem overwhelming and scary. The good news is that a supportive and stable environment can go a long way when it comes to supporting your child&rsquo;s wellbeing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>
