
@{
    ViewBag.Title = "KnowAnxiety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Understand Anxiety
            </h4>
        </div>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>What is anxiety?</strong></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">Anxiety is a common phenomenon where people react to something they fear, worry or stress about.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Low levels of anxiety can be helpful at times, increasing alertness and enhancing performance, as in exams or job interviews. But, it can sometimes be so overwhelming causing significant changes in everyday lives, making it hard to cope with &lsquo;normal&rsquo; challenges. This is exactly where anxiety turns into an illness called an anxiety disorder.&nbsp;</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Anxiety is a prevalent mental health issue in Australia. Studies show that nearly one-third of women and one-fifth of men experience anxiety at some point in their lives. It is also common among youth in Australia where every year 1 in 10 young people aged between 18-25 experience an anxiety disorder.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Individuals may develop severe anxiety over time and it can often go unnoticed. A person's ability to achieve their full potential can be seriously reduced if he/she does not receive treatment for an anxiety disorder.</span></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p><strong>Symptoms of anxiety disorder </strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body" style="text-align:left">

                        <ol>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Difficulty concentrating and paying attention</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Shortness of breath</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Dizziness</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Sweating</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Rapid heartbeat</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Feeling uneasy</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Inability to relax</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Social isolation or being withdrawn</span></li>
                        </ol>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <p><strong>Types of anxiety disorders</strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                    <div class="card-body" style="text-align:left">
                        <ol>
                            <li style="font-weight: 400;"><strong>Generalised anxiety disorder</strong><span style="font-weight: 400;">: A severe ongoing anxiety which could be about a number of things, such as work, money, relationships.</span></li>
                            <li style="font-weight: 400;"><strong>Social phobia</strong><span style="font-weight: 400;">: A marked and persistent fear of being embarrassed in social situations</span></li>
                            <li style="font-weight: 400;"><strong>Specific phobia</strong><span style="font-weight: 400;">: An intense and irrational fear of a specific situation or object</span></li>
                            <li style="font-weight: 400;"><strong>Panic disorders</strong><span style="font-weight: 400;">: The presence of repeated, unexpected panic attacks and worry about having another panic attack.&nbsp;</span></li>
                            <li style="font-weight: 400;"><strong>Obsessive compulsive disorder</strong><span style="font-weight: 400;">: Experiencing repeated obsessions (unwanted thoughts and impulses) and/or compulsions (urge to act a certain way or complete a task) that creates distress or impairment.</span></li>
                            <li style="font-weight: 400;"><strong>Post traumatic stress disorder:</strong><span style="font-weight: 400;"> Experiencing certain symptoms following a traumatic event</span></li>
                        </ol>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <p><strong>Causes of Anxiety Disorder</strong><span style="font-weight: 400;"></span></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">Possible causes include:</span></p>
                        <ol>
                            <li style="font-weight: 400;"><strong>Environmental stress</strong><span style="font-weight: 400;">: Difficulties at work, relationship problems, or family issues</span></li>
                            <li style="font-weight: 400;"><strong>Hereditary</strong><span style="font-weight: 400;">: Having family members with an anxiety disorder.</span></li>
                            <li style="font-weight: 400;"><strong>Medical factors</strong><span style="font-weight: 400;">: Symptoms of a different disease, effects of a medication, or the stress of an intensive surgery or prolonged recovery</span></li>
                            <li style="font-weight: 400;"><strong>Psychological factors</strong><span style="font-weight: 400;">: Misalignments of hormones and electrical signals in the brain.</span></li>
                            <li style="font-weight: 400;"><strong>Refraining usage of illicit substance</strong><span style="font-weight: 400;">: Trying to stop consuming tobacco,&nbsp; alcohol or drugs.</span></li>
                        </ol>
                        <p><span style="font-weight: 400;">Most of the time, the causes of anxiety disorders might not be explicitly visible.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>