
@{
    ViewBag.Title = "Sleep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Sleep
            </h4>
          
        </div>

        @*<div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p><strong>Sleep and Mealth Health</strong></p><i class="fa"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="text-align:left">
                        <p><span style="font-weight: 400;">A good night's sleep promotes both mental and emotional strength. Poor sleeping habits pave way for negative thinking, depression, anxiety and emotional vulnerability since sleep and mental health are closely linked. Sleep deprivation affects our psychological state and mental health.</span></p>
                        <p><span style="font-weight: 400;">Our sleeping patterns have the ability to affect how we feel throughout the day. Having a good sleep keeps us refreshed and we are able to deal with challenges and be more productive and we are able to get along with the people around us.</span></p>
                        <p><span style="font-weight: 400;">During our sleep several important activities take place that help our body in physical recovery and repair, support brain development, cardiac function and body metabolism, along with support learning, improving memory and mood.</span></p>
                        <p><span style="font-weight: 400;">Recommended sleep times</span></p>
                        <p>&nbsp;</p>
                        <ul>
                            <li><strong><span style="font-weight: 400;">Primary school aged childrens: 9 to 11 hours</span></strong></li>
                        </ul>
                        <ul>
                            <li><span style="font-weight: 400;">Teenagers: 8 to 10 hours</span></li>
                        </ul>
                        <ul>
                            <li><span style="font-weight: 400;">Adults: 7 to 9 hours</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Remember always to get the right amount of good sleep which will help you to boost your immunity along with it will enhance your energy, and concentration level, and help you better deal with stress and anxiety.</span></p>

                    </div>
                </div>
            </div>

        </div>*@
    </div>
</div>