
@{
    ViewBag.Title = "Sleep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="testimonials align-w3" id="testi">
    <div class="container">
        @*<div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">
                Sleep
            </h4>
          
        </div>*@


        <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sleep Cycle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Common Sleep Problems</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="causes-tab" data-toggle="tab" href="#causes" role="tab" aria-controls="causes" aria-selected="false">How to improve?</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">How can you help</a>
    </li>*@
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card bg-success">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                    <p><strong>Overview</strong></p><i class="fa"></i>
                    @*</button>*@
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white" style="text-align:left">
                    <p><span style="font-weight: 400;">A good night's sleep promotes both mental and emotional strength. Poor sleeping habits pave way for negative thinking, depression, anxiety and emotional vulnerability since sleep and mental health are closely linked. Sleep deprivation affects our psychological state and mental health.</span></p>
                    <p><span style="font-weight: 400;">Our sleeping patterns have the ability to affect how we feel throughout the day. Having a good sleep keeps us refreshed and we are able to deal with challenges and be more productive and we are able to get along with the people around us.</span></p>
                    <p><span style="font-weight: 400;">During our sleep several important activities take place that help our body in physical recovery and repair, support brain development, cardiac function and body metabolism, along with support learning, improving memory and mood.</span></p>
                    <br />
        


                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card bg-success">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                    <p><strong>Sleep Cycle</strong></p><i class="fa"></i>
                    @*</button>*@
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white" style="text-align:left">
                    <ul>
                        <li>
                            <p>It is useful to have an understanding of general information about sleep and the sleep cycle:</p>
                            <ul>
                                <li><strong>Recommended sleep times for your children:</strong></li>
                            </ul>
                            <p>Ages 3 to 5: 10 to 13 hours</p>
                            <p>Ages 6 to 13: 9 to 11 hours</p>
                            <p>Ages 14 to 17: 8 to 10 hours</p>
                        </li>
                    </ul>

                    <div class="row space-sec">
                        <!-- blog grid -->
                        <div class="col-lg-4 col-md-6 mt-sm-0 mt-5">
                            <div class="card bg-white" style="border: none">
                                <div class="card-header p-0 position-relative bg-white" style="border: none">

                                    <img class="card-img-bottom" src="~/Vendor/images/11.png" style="height:300px" />
                                    <p><strong>	Primary school childrens: 9 to 11 hours</strong></p>


                                </div>

                            </div>
                        </div>
                        <!-- //blog grid -->
                        <!-- blog grid -->
                        <div class="col-lg-4 col-md-6 mt-md-0  mt-5">
                            <div class="card bg-white" style="border: none">
                                <div class="card-header p-0 position-relative bg-white" style="border: none">



                                    <img class="card-img-bottom" src="~/Vendor/images/12.png" style="height:300px" />
                                    <p><strong>	Teenagers: 8 to 10 hours</strong></p>

                                </div>

                            </div>
                        </div>
                        <!-- //blog grid -->
                        <!-- blog grid -->
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 mx-auto blog-end">
                            <div class="card bg-white" style="border: none">
                                <div class="card-header p-0  position-relative bg-white" style="border: none">

                                    <img class="card-img-bottom" src="~/Vendor/images/13.png" style="height:300px" />
                                    <p><strong>	Adults: 7 to 9 hours</strong></p>

                                </div>

                            </div>
                        </div>
                        <!-- //blog grid -->
                    </div>



                    <ul>
                        <li>
                            <ul>
                                <li>Remember always to get the right amount of good sleep which will help you to boost your immunity along with it will enhance your energy, and concentration level, and help you better deal with stress and anxiety.</li>
                                <li>Sleeping more than recommended time can create excessive lethargy and fatigue.</li>
                                <li>We have 2 main types of sleep:</li>
                            </ul>
                            <p>&nbsp;(1) <strong>REM (rapid eye movement) sleep</strong> is characterized by dreaming and is the state in which restoration of our brain and body functions occurs, including energy conservation and memory consolidation; and</p>
                            <p>(2) <strong>non-REM sleep</strong> is characterized by 4 stages that progressively deepen from light to restful to deep sleep. We cycle through Stages 1, 2, 3, 4 and REM throughout the night. Each complete cycle takes approximately 90 minutes, and throughout the night we increasingly spend a longer period of time in REM sleep (which leads to sleep feeling &ldquo;restorative&rdquo; or restful).</p>
 
                            <ul>
                                <li>Sleep patterns may be impacted by a range of factors, including stress levels, low mood and depression, anxiety , physical health conditions, medications, and worry about sleep.</li>
                            </ul>
                            <p>&nbsp;The good news is that our bodies are very resilient and can recover from chronic sleep debt within a few days to a week.</p>
                        </li>
                    </ul>
                    <div id="gtx-trans" style="position: absolute; left: -25px; top: -14.0023px;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card bg-success">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                    <p><strong>Common Sleep Problems</strong></p><i class="fa"></i>
                    @*</button>*@
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white" style="text-align:left">
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <p>The following are the most common sleep problems. If you experience any of the following symptoms,speaking to your family doctor to seek assistance is recommended.</p>
                                    <p><strong>&nbsp;Insomnia</strong> is characterized by difficulty falling asleep, difficulty staying asleep and/or early-morning awakenings. Individuals with insomnia feel unrefreshed upon awakening and fatigued during the day. Treatment for insomnia is cognitive-behavioural therapy (CBT) that focuses on thoughts/worries about sleep and behavioural sleep patterns.</p>
                                    <p>&nbsp;<strong>Restless leg syndrome</strong>: sensory disorder characterized by&nbsp; irresistible urge to move one&rsquo;s legs (sometimes arms) due to uncomfortable, tingling or &ldquo;creeping&rdquo; sensations. Treatment includes reduced intake of caffeine, iron replacement; exercise and stretching and warm baths.</p>
                                    <p>&nbsp;<strong>Narcolepsy</strong>: a rare sleep disorder characterized by frequent periods of sleepiness (both gradual and sudden sleep attacks. Treatment includes stimulant pharmacotherapy and stress management.</p>
                                    <p><strong>Obstructive sleep apnea</strong> is a common but underdiagnosed, possibly life-threatening sleep disorder that primarily impacts male who are overweight, have a thick neck girth, and are heavy snorers. Obstructive sleep apnea causes partial blockage of airways causing abnormal breathing patterns and sleep disruptions.Treatment includes weight loss, and use of a continuous positive airway pressure (CPAP) machine while sleeping.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="causes" role="tabpanel" aria-labelledby="causes-tab">
        <div class="card bg-success">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    @*<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">*@
                    <p><strong>How to improve?</strong></p><i class="fa"></i>
                    @*</button>*@
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white" style="text-align:left">
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <h2>Tips to help children sleep well</h2>
                                    <p>Getting enough sleep is as important for your child as healthy eating and exercising. Here are some tips to help your child fall asleep, stay asleep and get enough good quality sleep.</p>
                                    <ul>
                                        <li><strong>Establish a sleep schedule</strong>: Make sure your child goes to bed early enough to get the sleep they need. Once you have set an appropriate bed time, stick to it</li>
                                        <li><strong>Establish a bedtime routine</strong>: Follow the same routine every day: bath or shower, change into pyjamas, brush teeth, read or spend quiet time in their bedroom, lights out and go to sleep.</li>
                                        <li><strong>Help your child wind down</strong>: Busy children need some time to relax. Consider playing soft music or reading to them.</li>
                                        <li><strong>Make sure the bedroom is suitable for sleep</strong>: Ensure the bedroom is dark and quiet. If your child is anxious or afraid at night, use a night light.</li>
                                        <li><strong>Avoid stimulants</strong>: Make sure your child avoids tea, coffee, chocolate and sports drinks, especially in the afternoon.</li>
                                        <li><strong>Turn off technology</strong>: Turning off computers, tablets and television 1 hour before bedtime should help your child sleep better.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">

    </div>*@
</div>

        
    </div>
</div>